*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.so
*.status
*.sw?
*.tab
*~
.deps
.libs
/Makefile.in
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/script-lexer.c
/script-parser.c
/script-parser.h
/stamp-h1
Makefile
bm-*
core
core.*
