*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.so
*.status
*.sw?
*.tab
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
bm-*
config.guess
config.h
config.sub
configure
core
core.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
