RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !index.php
RewriteCond %{REQUEST_FILENAME} !famfamfam
RewriteRule !\.(js|css)$ index.php [NC,L]

AuthType Digest
AuthName "BadgerMind"
AuthDigestProvider file
AuthUserFile /home/mortehu/src/BadgerMind/webapp/.digestpw

<Limit OPTIONS DELETE PROPFIND PUT PROPPATCH COPY MOVE LOCK UNLOCK>
Require valid-user
</Limit>
